services:
  php:
    container_name: sujiko-php
    build:
      context: .
    command: sh run.sh
    environment:
      TZ: "Europe/London"
    restart: always
    tty: true
    volumes:
      - ./:/app:cached
      - .docker/php.d/docker-php-ext-xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini:ro
